@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;800&family=Rock+Salt&display=swap');
body{
    background-color: #003B0C;
    min-height: 100vh;
    padding: 20px;
}

h1{
    font-family: 'Rock Salt', cursive;
    font-size: 4rem;
    color: white;
}

.container{
    padding: 40px;
    width: 50%;
    margin-top: 100px;
}

.textoInformacion{
    font-family: 'Inconsolata', monospace;
    color:white;
}

button{
    margin-bottom: 15px;
}

