@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;800&family=Rock+Salt&display=swap');
body{
    background-color: #003B0C;
    min-height: 100vh;
}

h1{
    font-family: 'Rock Salt', cursive;
    font-size: 4rem;
    color: white;
}

.introduccion{
    font-size: 1.25rem;
}
.textoParrafo{
    font-family: 'Inconsolata', monospace;
    color: white;
}

table{
    margin-top: 40px;
}