<body>
    <div class="container">
        <div class="row">
            <div class="justify-content-center col-md-12"> 
                <h1 class="text-center">Mi Empresa</h1>
                <br>
                <p class="introduccion">Modifique los campos del pintor que quiera cambiar</p>
            </div>
            <form #pintor="ngForm" (ngSubmit)="onSubmit(pintor)">
                <div class="form-group col-md-12">
                    <label class="titulos">Nombre &nbsp; &nbsp;</label>
                    <input type="text" class="form-control"  value="{{modificaPintor.nombre}}" name="nombre" #nombre [(ngModel)]="modificaPintor.nombre">
                </div>
                <div class="form-group col-md-12">
                    <label class="titulos">Apellidos &nbsp; &nbsp;</label>
                    <input type="text" class="form-control" value="{{modificaPintor.apellidos}}" name="apellidos" #apellidos [(ngModel)]="modificaPintor.apellidos">
                </div>
                <div class="form-group col-md-12">
                    <label class="titulos">Sueldo &nbsp; &nbsp;</label>
                    <input type="number" class="form-control" value="{{modificaPintor.sueldo}}" name="sueldo" #sueldo [(ngModel)]="modificaPintor.sueldo">
                </div>
                <div class="form-group col-md-12">
                    <label class="titulos">Experiencia*</label>
                    <input type="number" class="form-control" value="{{modificaPintor.experiencia}}" name="experiencia" #experiencia [(ngModel)]="modificaPintor.experiencia">
                </div>
                <button type="submit" class="btn btn-warning">Modificar pintor</button>
                <br>
                <a type="button" class="btn btn-success" routerLink="/panelpintores" >Volver atrás</a>
            </form>
        </div>
    </div>
</body>

